<!DOCTYPE html>
<html>

<head>
  <title>GrowAlert - GRO-01 Subscription</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/checkout.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</head>

<body>
  <section class="container-fluid">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">GrowAlert</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container-lg">
        <div class="row">
          <div class="col col-sm-12 col-md-6 col-lg-6">
            <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/500x500/dee2e6/6c757d.jpg" alt="..." />
          </div>
          <div class="col product">
            <form>
              <div class="form-group col-sm-6 col-md-4 col-lg-4">
                <div class="row align-items-center">
                  <div class="col">
                    <label for="quantity">How many GRO-01 Monitors do you want?</label>
                    <input type="number" id="quantity" value="2" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col form-group m-4">
            <h1>Subscription Plan</h1>
            <h3>GRO Premium</h3>
            <ul>
              <li>Unlimited data retention and access</li>
              <li>Unlimited data monitors</li>
              <li>Unlimited monthly alerts</li>
              <li>Email and phone alert options</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12 col-md-4 col-lg-6">
            <!--  PAYMENT FORM  -->
            <!-- <p> Try the successful test card: <span>4242424242424242</span>. </p>
            <p> Try the test card that requires SCA: <span>4000002500003155</span>. </p>
            <p> Use any <i>future</i> expiry date, CVC, and 5 digit postal code. </p> -->
            <form id="subscribe-form">
              <h1>Payment Details</h1>
              <label>
                Full name
                <input type="text" id="name" value="Jenny Rosen" />
              </label>

              <label>
                Email
                <input id="email" type="text" placeholder="Email address" value="" required />
              </label>

              <label>
                Password
                <input id="password" type="password" placeholder="Password" value="" required />
              </label>

              <div id="card-element">
                <!-- the card element will be mounted here -->
              </div>

              <button type="submit">
                Subscribe
              </button>
              <div id="messages"></div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </section>
  <script>
    // TODO: reduce the calls to /config for this script (preferably to one call)
    const stripe = Stripe(
      // TODO: get publishable key from the /config endpoint
      'pk_test_51M47p8GxdKKUSt0mxoblFkBylys8NBvodGcmw0iEqYnElX0BHjyJVC5Flq9ht5uICN2HU0jqiDlmeQbEBYdYuktO00OnO3K2jW'
    );
    const elements = stripe.elements();

    let cardElement;
    cardElement = elements.create('card');
    cardElement.mount('#card-element');

    // createSubscription signs the user up for the subscription and then returns the 
    // necessary information to charge the user's card in the next step.
    const createSubscription = (priceId) => {
      return fetch('/create-subscription', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          priceId: priceId,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("create subscription: ", data);
          window.sessionStorage.setItem('subscriptionId', data.subscriptionId);
          window.sessionStorage.setItem('clientSecret', data.clientSecret);
          return data
        })
        .catch((error) => {
          console.error('create subscription error:', error);
        });
    }

    // createCustomer attempts to create a customer to attach the subscription to.
    // if this succeeds, it creates them a valid user in our system.
    const createCustomer = (email, password) => {
      return fetch('/create-customer', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: email,
          password: password
        }),
      })
        .then(res => res.json())
        .then((data) => {
          console.log('create customer response: ', data)
          return data
        })
    }

    const handleConfirmPayment = (name, clientSecret, cardElement) => {
      // Create payment method and confirm payment intent. This confirms the subscription intent
      return stripe.confirmCardPayment(clientSecret, {
        payment_method: {
          card: cardElement,
          billing_details: {
            name: name,
          },
        }
      }).then((res) => {
        console.log('confirmCardPayment response: ', res)
        return res
      })
        .catch(err => console.error('handleConfirmPayment failed:', err))
    }

    // helper method for displaying a status message.
    const setMessage = (message) => {
      const messageDiv = document.querySelector('#messages');
      messageDiv.innerHTML += "<br>" + message;
    }

    // This sample only supports a Subscription with payment
    // upfront. If you offer a trial on your subscription, then
    // instead of confirming the subscription's latest_invoice's
    // payment_intent. You'll use stripe.confirmCardSetup to confirm
    // the subscription's pending_setup_intent.
    // See https://stripe.com/docs/billing/subscriptions/trials

    // Payment info collection and confirmation
    // When the submit button is pressed, attempt to confirm the payment intent
    // with the information input into the card element form.
    // - handle payment errors by displaying an alert. The customer can update
    //   the payment information and try again
    // - Stripe Elements automatically handles next actions like 3DSecure that are required for SCA
    // - Complete the subscription flow when the payment succeeds

    // NB: process quantity client side, but pricing _server_ side to prevent price manipulation.

    const subform = document.querySelector('#subscribe-form');
    subform.addEventListener('submit', async (e) => {
      e.preventDefault();

      const priceID = "price_1MG65uGxdKKUSt0mC7weZ3xT" // hard coded price ID for Gro standard plan
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const quantity = document.getElementById('quantity').value;

      createCustomer(email, password)
        .then(cust => {
          console.log("subform: created customer: ", cust)
          createSubscription(priceID)
            .then((sub) => {
              console.log('susbform: created subscription: ', sub)

              // Extract the client secret query string argument. This is
              // required to confirm the payment intent from the front-end.
              const subscriptionId = window.sessionStorage.getItem('subscriptionId');
              const clientSecret = window.sessionStorage.getItem('clientSecret');

              handleConfirmPayment(name, clientSecret, cardElement)
                .then((res) => {
                  console.log('handleConfirmPayment after subscription: ', res)

                  // charge them for monitors if they ordered more than zero
                  if (quantity > 0) {
                    stripe.createToken(cardElement)
                      .then((res) => {
                        console.log("createToken: res: ", res)
                        if (res.error) {
                          setMessage('failed to charge card for product')
                          console.log('failed to charge: ', res.error)
                          return
                        }

                        const token = res.token.id
                        
                        return fetch('/charge', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify({
                            token: token,
                            quantity: quantity
                          }),
                        })
                          .then(res => res.json())
                          .then((data) => {
                            console.log('create customer response: ', data)
                            return data
                          })
                      })

                  }


                })

            })
        })

    });
  </script>
</body>

</html>